:root {
    --footer-bg-color: #F28C0F;
    --footer-height: 5vh;
    --dark-font-color: #424242;
    --bg-color: #D9C4B8;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-font-color);
    background-color: var(--bg-color);
}

.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--footer-bg-color);
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.github-link {
    margin: 0 .5rem;
    color: var(--dark-font-color);
}

.github-icon {
    height: var(--footer-height);
}